.head-banner {
    background-color: black;
}

.col-md-3{
    background-color: #E0E0E2;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:white;
    background-color:black;
    }

.nav-pills > li > a {
    color:black;
    }

.debug-info{
	font-size: 10px;
	color: red;
}